with "config/proof_test_config.gpr";
project Proof_Test is

   for Library_Name use "Proof_Test";
   for Library_Version use Project'Library_Name & ".so." & Proof_Test_Config.Crate_Version;

   for Source_Dirs use ("$src_dir", "config/");
   for Object_Dir use "obj/" & Proof_Test_Config.Build_Profile;
   for Create_Missing_Dirs use "True";
   for Library_Dir use "lib";

   type Library_Type_Type is ("relocatable", "static", "static-pic");
   Library_Type : Library_Type_Type :=
     external ("SPARK_MULTIWAY_TREES_LIBRARY_TYPE", external ("LIBRARY_TYPE", "static"));
   for Library_Kind use Library_Type;

   package Compiler is
      for Default_Switches ("Ada") use Proof_Test_Config.Ada_Compiler_Switches;
   end Compiler;

   package Binder is
      for Switches ("Ada") use ("-Es"); --  Symbolic traceback
   end Binder;

   package Install is
      for Artifacts (".") use ("share");
   end Install;

end Proof_Test;
